[user]
	name = Albert Lombarte
	email = alombarte@gmail.com
    signingkey = 5BD10CBF06E5D9AB
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	s = status
	p = pull
	c = commit
	a = add -p
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg1 = log --pretty=oneline
	contrib = shortlog --summary
	filelog = log -u
	dc = diff --cached
	# Diff for a revision
	dr = "!f() { git diff "$1"^.."$1"; }; f"
	# Stash operation
	sl = stash list
	sa = stash apply
	ss = stash save
	# Merge in master
	mm = !sh -c 'git checkout master && git merge "$1" && git checkout "$1"' -
	# Delete local and remote branch
	bdel = !git branch -d "$1" && git push origin --delete "$1"
	# List alias
	alias = "!git config -l | grep alias | cut -c 7-"
	sha = "rev-parse --short HEAD"
[github]
	user = alombarte
[merge]
	# Write summary of contained commits when merging
	log = true
[push]
	default = simple
[core]
	excludesfile = ~/.git_global_ignore
	editor=vim
	fileMode = false
[commit]
	gpgsign = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[diff]
	noprefix = true
