#!/bin/bash

# Convert a crappy picture of a Whiteboard into a better looking graph.
alias whiteboard-clean="bash ~/.dotfiles/utils/whiteBoardClean.sh"
# Create pngs from dots
alias dot2img="bash ~/.dotfiles/utils/dot.sh"
# Delete offending key line number from .ssh/known_hosts
alias offending="bash ~/.dotfiles/utils/delete_offending_key.sh"
alias g="git"
# cd to symbolic link pointer
alias cds='cd -P'
alias gus='gvm use go1.7.4'
alias docker-clean='docker system prune'
alias docker-clean-images='docker image prune'
