[user]
	name = Albert Lombarte
	email = alombarte@zinio.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	contrib = git shortlog --summary
	filelog = log -u
	dc = diff --cached
	# Diff for a revision
	dr = "!f() { git diff "$1"^.."$1"; }; f"
	# Stash operation
	sl = stash list
	sa = stash apply
	ss = stash save
[github]
	user = alombarte
[merge]
	# Write summary of contained commits when merging
	log = true
[push]
	default = simple
