#!/bin/bash

# Convert a crappy picture of a Whiteboard into a better looking graph.
alias whiteboard-clean="bash ~/.dotfiles/utils/whiteBoardClean.sh"
# Create pngs from dots
alias dot2img="bash ~/.dotfiles/utils/dot.sh"
# Delete offending key line number from .ssh/known_hosts
alias offending="bash ~/.dotfiles/utils/delete_offending_key.sh"

alias spotifydl="bash ~/.dotfiles/utils/spotifydl.sh"

# Docker
alias docker-destroy='docker system prune --force --all --volumes'
alias docker-clean='docker container prune -f && docker volume prune -f && docker network prune -f'
alias docker-clean-images='docker image prune'
alias weather="curl http://wttr.in/Barcelona"
# AWS
alias ecr='$(aws ecr get-login --no-include-email --region eu-west-1)'

# Massive clone and pull
alias mclone="bash ~/.dotfiles/utils/massive_clone.sh"
alias mpull="bash ~/.dotfiles/utils/massive_pull.sh"
# git pull all (pull all immediate dirs)
alias gpa="find . -maxdepth 1 -type d -exec sh -c '(cd {} && git pull)' ';'"

# Linux
alias copy='xclip -selection clipboard'
