#!/bin/bash

# Convert a crappy picture of a Whiteboard into a better looking graph.
alias whiteboard-clean="bash ~/.dotfiles/utils/whiteBoardClean.sh"
# Create pngs from dots
alias dot2img="bash ~/.dotfiles/utils/dot.sh"
# Delete offending key line number from .ssh/known_hosts
alias offending="bash ~/.dotfiles/utils/delete_offending_key.sh"


alias spotifydl="docker run -it --rm --network='host' -v '/home/artomb/Music:/music' alombarte/spotifydl spotdl"
# Docker
alias docker-destroy='docker system prune --force --all --volumes'
alias docker-clean='docker container prune -f && docker volume prune -f && docker network prune -f'
alias docker-clean-images='docker image prune'
alias weather='function weather(){ l="$1"; if [ "" = "$l" ]; then l="cerdanyola-del-valles"; fi; curl "https://wttr.in/$l" }; weather'
# AWS
alias ecr='$(aws ecr get-login --no-include-email --region eu-west-1)'

# Massive clone and pull
alias mclone="bash ~/.dotfiles/utils/massive_clone.sh"
alias mpull="bash ~/.dotfiles/utils/massive_pull.sh"
alias persiana="bash ~/.dotfiles/utils/shutter_level.sh"
# git pull all (pull all immediate dirs)
alias gpa="find . -maxdepth 1 -type d -exec sh -c '(cd {} && [ -d .git ] && echo \"Pulling {}\" && git pull)' ';'"

alias nv="nvim"
alias nvc="nvim --cmd 'cd ~/.dotfiles/editors/.config/nvim/'"

# Linux
alias copy='xclip -selection clipboard'
alias cat='bat -p'
alias krakendee='docker run --rm -it -p "8080:8080" -v "$PWD:/etc/krakend" krakend/krakend-ee:watch'
alias krakend='docker run --rm -it -p "8080:8080" -v "$PWD:/etc/krakend" devopsfaith/krakend:watch'
alias days='function days(){ date "+%d/%m/%Y %H:%M (%Z)" -d "+$1 days"; }; days'
alias open="xdg-open"
alias vim="nvim"
alias vi="nvim"
